<div class="container" [class.shift-left]="isPreviewActive" (click)="closePreview()">
  <h1>{{ 'PROJECT_EPROCUREMENT.TITLE' | translate }}</h1>

  <div class="role-tags">
    <div class="role">{{ 'PROJECT_EPROCUREMENT.ROLES.DEV' | translate }}</div>
  </div>
  <div class="gallery">
    @for (img of images; track img; let i = $index) {
      <div class="thumbnail" (click)="openPreview(i, $event)">
        <img [src]="img" alt="Screenshot"/>
      </div>
    }
  </div>

  <!-- DETAILS -->
  <h2>{{ 'PROJECT_EPROCUREMENT.OVERVIEW_TITLE' | translate }}</h2>
  <p [innerHTML]="'PROJECT_EPROCUREMENT.OVERVIEW_DESC' | translate"></p>

  <h2>{{ 'PROJECT_EPROCUREMENT.MAIN_FUNCTIONS_TITLE' | translate }}</h2>
  <ul>
    <li>{{ 'PROJECT_EPROCUREMENT.MF_1' | translate }}</li>
    <li>{{ 'PROJECT_EPROCUREMENT.MF_2' | translate }}</li>
    <li>{{ 'PROJECT_EPROCUREMENT.MF_3' | translate }}</li>
  </ul>

  <a routerLink="/" class="back">{{ 'PROJECT_EPROCUREMENT.BACK_TO_RESUME' | translate }}</a>
</div>

<div id="hover-preview" [class.active]="isPreviewActive" (click)="closePreview()">
  <button class="nav-btn prev-btn" (click)="prevImage($event)">&#10094;</button>
  <img [src]="previewImage" alt="Preview Image" (click)="$event.stopPropagation()"/>
  <button class="nav-btn next-btn" (click)="nextImage($event)">&#10095;</button>
</div>
